.container {
    width: 100%;
    max-width: 1700px;
    margin-left: auto;
}

.innerContainer {
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.secondMainColumn {
    max-width: 550px;
    min-width: 470px;
}

.thirdMainColumn {
    max-width: 550px;
    min-width: 470px;
}

.firstColumn {
    display: inline-block;
    max-width: 10%;
    min-width: 10%;
    position: relative;
}

.secondColumn {
    max-width: 90%;
    min-width: 90%;
    display: inline-block;
}

.firstColumn h2{
    display: inline-block;
    position: absolute;
    bottom: 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    left: 190%;
    font-size: 4rem;
    font-weight: 600;
}

.firstColumn h3{
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    left: 150%;
    font-size: 2.3rem;
    font-weight: 600;
}

.firstBlock h3 {
    position: absolute;
    bottom: 3.8%;
}

.secondBlock h3 {
    position: absolute;
    bottom: 3.8%;
}

.thirdBlock h3 {
    position: absolute;
    bottom: 3.4%;
}

.fourthBlock h3 {
    position: absolute;
    bottom: 3.2%;
}

.secondColumn img {
    max-width: 70%;
    position: relative;
    left: 22%;
    z-index: -1;
}

.firstBlock {
    display: flex;
    margin-top: -13%;
    margin-bottom: 7%;
}

.firstBlock h2 {
    color: #FF7B54;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

.firstBlock h3 {
    color: #FF7B54;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 0.05vw;
}

.secondBlock {
    display: flex;
    margin-top: 20%;
    margin-bottom: 7%;
}

.secondBlock h2 {
    color: #FFD743;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

.secondBlock h3 {
    color: #FFD743;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 0.05vw;
}

.thirdBlock {
    display: flex;
    margin-bottom: 20%;
}

.thirdBlock h2 {
    color: #A1CAE2;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

.thirdBlock h3 {
    color: #A1CAE2;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 0.05vw;
}

.fourthBlock {
    display: flex;
    margin-bottom: 20%;
}

.fourthBlock h2 {
    color: #86B86B;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

.fourthBlock h3 {
    color: #86B86B;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 0.05vw;
}

.linkWrapper {
    height: 5px;
    position: absolute;
    bottom: 0;
}

.camouflageForDiv {
    display: block;
    position: absolute;
    top: 300px;
    left: -20px;
    width: 100px;
    height: 280px;
    z-index: 1;
}

.secondBlock .firstColumn img {
    display: block;
    max-width: 140%;
    z-index: 1;
    position: relative;
    left: 650%;
    margin-top: -160%;
    margin-left: 70%;
}

.firstBlock .firstColumn img {
    visibility: visible;
    display: block;
    max-width: 140%;
    z-index: 1;
    position: relative;
    left: 650%;
    margin-top: -160%;
    margin-left: 70%;
}

.thirdBlock .firstColumn img {
    visibility: visible;
    display: block;
    max-width: 140%;
    z-index: 1;
    position: relative;
    left: 650%;
    margin-top: -160%;
    margin-left: 70%;
}

.fourthBlock .firstColumn img {
    visibility: visible;
    display: block;
    max-width: 140%;
    z-index: 1;
    position: relative;
    left: 650%;
    margin-top: -160%;
    margin-left: 70%;
}

@media screen and (max-width: 550px){
    .firstBlock h3 {
        bottom: 21px;
    }

    .secondBlock h3 {
        bottom: 21px;
    }

    .thirdBlock h3 {
        bottom: 18px;
    }

    .fourthBlock h3 {
        bottom: 18px;
    }

    .firstColumn h2{
        left: 160%;
    }

    .firstColumn h3{
        left: 110%;
    }
}

@media screen and (max-width: 500px){
    .secondMainColumn {
        min-width: 320px;
    }

    .thirdMainColumn {
        min-width: 320px;
    }

    .firstColumn h2{
        left: 150%;
    }

    .firstColumn h3{
        left: 95%;
    }
}