.container {
    background-color: #A1CAE2;
    color: white;
}

.container img {
    max-width: 100%;
}

.generalInfo {
    padding-left: 2.5%;
    padding-top: 2.5%;
}

.generalInfo h1 {
    margin-top: 5%;
    font-size: 4rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.generalInfo h2 {
    position: relative;
    bottom: 10px;
    font-size: 3.2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.generalInfo p {
    max-width: 300px;
    padding-top: 3%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.75rem;
}

.socialNetworks {
    max-width: 250px;
    display: inline-block;
    line-height: 1.7rem;
    margin-bottom: 1.5%;
    padding-right: 5%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    padding-left: 2.5%;
    padding-top: 3%;
}

.socialNetworks a {
    color: white;
}

.header {
    font-weight: 700;
}

.contacts a {
    color: white;
}

.contacts {
    display: inline-block;
    position: relative;
    line-height: 1.7rem;
    min-width: 100%;
    margin-bottom: 1.5%;
    padding-right: 3%;
    font-size: 1.6rem;
    padding-left: 2.5%;
    padding-top: 3%;
}

.contacts p {
    font-family: "Open Sans", sans-serif;
}

.flags img {
    margin-bottom: 1%;
}

.copyrights p {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

.copyrights a {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

.copyright1 {
    padding-left: 2.5%;
    min-width: 90%;
    padding-top: 8px;
}

.copyright2 {
    color: white;
    margin-bottom: 22px;
    padding-left: 2.5%;
}

.copyright2:hover {
    text-decoration: none;
    color: white;
}

.icon {
    margin-right: 8px;
}